*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bgColor: rgb(25, 2, 65);
  --bgContrast: rgb(235, 235, 235, 0.75);
  --textColor: rgb(20, 20, 20);
  --textColorContrast: rgb(235, 235, 235);
  --basicPadding: 1rem;
  --fontSize_XS: 0.7rem;
  --fontSize_S: 1rem;
  --fontSize_M: 1.5rem;
  --fontSize_L: 3rem;
  --fontSize_XL: 5rem;
}

HTML {
  font-size: 18px;
  line-break: loose;
  letter-spacing: 0.15rem;
  scroll-behavior: smooth;
  background-size: contain;
  background: var(--bgColor);
  color: var(--textColor);
}

BODY {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100svh;
  scroll-behavior: smooth;
  padding: 2rem;
}
BODY img {
  width: 100%;
}
BODY a {
  background: none;
  text-decoration: none;
  color: inherit;
}
BODY a:visited,
BODY a:focus,
BODY a:active {
  color: unset;
}
BODY ul {
  list-style: none;
}
BODY BUTTON {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
BODY SVG {
  width: 100%;
  height: auto;
}

.character_img {
  width: auto;
  position: fixed;
  height: 50svh;
  width: auto;
  opacity: 0.1;
  z-index: -1;
}

.character_frank,
.character_vamp {
  top: 0;
}

.character_wolf,
.character_zomb {
  bottom: 0;
}

.character_wolf,
.character_vamp {
  right: -4rem;
}

.character_zomb,
.character_frank {
  left: -4rem;
}

HEADER .game_title {
  text-align: center;
  color: var(--textColorContrast);
  margin-bottom: 2rem;
}

MAIN {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.game_board {
  background: var(--bgContrast);
  padding: var(--basicPadding);
  max-width: 1000px;
  border-radius: 1rem;
}
.game_board .instructions:empty {
  display: none;
}
.game_board .instructions {
  margin-bottom: 2rem;
}

.submit_control {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

INPUT[type=radio] {
  display: none;
}

.option {
  height: 100%;
  width: 100%;
  border: solid 2px var(--bgContrast);
  border-radius: 1rem;
  overflow: hidden;
}

SPAN {
  display: block;
  text-align: center;
  padding: 0.5rem 1rem;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}

.inputs_control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.inputs_control .input_control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 12rem;
  max-width: 25%;
  gap: 0.5rem;
  height: -moz-max-content;
  height: max-content;
}
.inputs_control .input_control INPUT[type=text] {
  text-align: center;
  min-width: 5rem;
  width: 15rem;
  font-size: var(--fontSize_M);
}

.lvl_1 LABEL {
  min-height: 5rem;
}
.lvl_1 .content {
  display: block;
  font-size: var(--fontSize_M);
}

.form_submit {
  padding: 0.7rem 1.25rem;
  border: solid 2px var(--textColor);
  color: var(--textColor);
  border-radius: 0.5rem;
}

.icon_container {
  width: auto;
  height: 100%;
}

.hide_section {
  display: none;
}

.placeholder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.placeholder .icon_container,
.placeholder .number_placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.placeholder .number_placeholder {
  display: block;
  text-align: center;
  font-size: var(--fontSize_XL);
  font-weight: 600;
}
.placeholder .icon_container {
  text-align: center;
  font-size: var(--fontSize_XL);
}

.option_active {
  background: var(--bgContrast);
}

@media screen and (max-width: 600px) {
  HTML {
    font-size: 12px;
  }
}